@{
    ViewBag.Title = "Home Page";
}

<div style="position:absolute;top:350px;left:500px">
    <form id="frmsearch" action="~/Home/Search" method="post">
        <input id="searchText" size="200" name="searchText" type="text" />
        <input id="search" type="submit" value="Search" />    
    </form>
</div>